body {
    font-family: 'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    color: #faf7f7;
  }
  img {
    max-width: 100%;
    height: auto;
}
header {
  background-color: #0d0d0dd8;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgb(253, 253, 253);
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header p {
  font-size: 18px;
  margin-top: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.894);
    overflow: hidden;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #fcfcfc;
    margin-top: 0;
  }
  
  .members {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .member {
    text-align: center;
    margin: 10px;
  }
  
  .member img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }
  
  .member p {
    color: #555;
    margin: 5px 0;
  }